<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.github.patchkite.flutter">
  <!-- The Flutter template only grants INTERNET in debug/profile builds; release builds need it to check for updates. -->
  <uses-permission android:name="android.permission.INTERNET" />
</manifest>
